{% extends "layout.html" %}
{% block body %}
  
  {% for recipe in data.recipes %}
    <div class="row recipe">
        <div class="column column-1">&nbsp;</div>
        <div class="column column-1">
          <a class="link-button" href="{{'%s?name=%s' % (url_for('view_blueprint.mix'), recipe.get('name'))}}">MIX!</a>
        </div>
        <div class="column column-3">{{ recipe.get('name') }}</div>
        
    </div>
  {% else %}
    <div class="row">
      <div class="column column-1">&nbsp;</div>
      <div class="column column-6">No recipes available!</div>
    </div>
  {% endfor %}
  
{% endblock %}